<!DOCTYPE html>

<html>
    <head>
        <%- include("../partials/head") %>
    </head>

    <body>
        <form class="addName" action="/add" method="POST">
            <h1>Add Name</h1>
            <input type="text" placeholder="firstname" name="firstname">
            <input type="text" placeholder="lastname" name="lastname">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>